/* responsive styles */
/* mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 30px;
  }
  nav {
    flex-direction: column;
  }
  /* teams responsive */
  .teams-container {
    padding: 50px;
    flex-direction: column;
  }
  /* feature responsive */
  .feature-container {
    padding: 50px;
    flex-direction: column;
  }
  .feature-content {
    width: 100%;
  }
  /* facts responsive */
  .facts-container {
    padding: 50px;
    text-align: center;
  }
  .facts-box-container {
    flex-direction: column;
  }
}

/* for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
  /* teams responsive */
  .teams-container {
    padding: 50px;
    flex-direction: column;
  }
  /* feature responsive */
  .feature-container {
    padding: 50px;
    flex-direction: column;
  }
  .feature-content {
    width: 100%;
  }
  /* facts responsive */
  .facts-container {
    padding: 50px;
    text-align: center;
  }
  .facts-box-container {
    gap: 20px;
  }
}
