/* work sans font from goggle */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
/* default styls */
* {
  padding: 0px;
  margin: 0px;
}
img {
  width: 100%;
  height: 100%;
}
.btn-primary {
  font-size: 15px;
  padding: 8px 10px;
  color: #fff;
  background-color: #ff900e;
  border: none;
  border-radius: 5px;
}
/* header styls */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 0px 240px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h3 {
  font-size: 2rem;
  color: #131313;
  padding: 10px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #424242;
}
/* banner styls */
.banner {
  padding: 50px 0px;
}
.banner-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.banner-title {
  color: #131313;
  font-size: 45px;
}
.banner-description {
  font-size: 18px;
  color: #727272;
  margin: 20px 0px;
}
.banner img {
  border-radius: 8px;
}
/* header section end */
/* main tag styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* teams section start */
.teams-container {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 50px 240px;
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.teams-img img {
  border-radius: 8px;
}
.teams-content {
  width: 80%;
}
.teams-title {
  font-size: 2rem;
  color: #727272;
}
.teams-title .bg-black {
  color: #131313;
}
.teams-title .bg-orange {
  color: #ff900e;
}
.teams-description {
  font-size: 16px;
  color: #727272;
  padding: 20px 0px;
}
/* teams section end */
/* featur section start */
.feature-container {
  padding: 30px 240px;
  display: flex;
  gap: 80px;
}
.feature-content {
  width: 80%;
}
.feature-title {
  font-weight: 700;
  color: #131313;
  font-size: 2rem;
  padding-left: 20px;
  border-left: 3px solid #ff900e;
}
.feature-description {
  font-size: 1rem;
  font-weight: 400;
  padding: 20px 0px;
}
.feature-box {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.feature-box-title {
  font-weight: 600;
  color: #131313;
}
.feature-box-description {
  font-weight: 400;
  color: #727272;
  padding-top: 10px;
}
.feature-img {
  position: relative;
}
.feature-experience {
  padding: 15px 40px;
  background-color: #ff900e;
  text-align: center;
  position: absolute;
  left: -80px;
  bottom: -40px;
}
.feature-experience-title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
.feature-experience-title span {
  font-weight: 500;
  font-size: 1rem;
}
/* featur section end */
/* facts section start */
.facts-container {
  padding: 50px 240px;
}

.facts-box-container {
  display: flex;
  justify-content: space-around;
}
